html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  min-width: 500px;
  overflow: hidden;
}

h3 {
	margin: 20px;
	font-weight: bold;
	color: gray;
}

h4 {
	font-weight: bold;
}

h5 {
	margin-top: 7px;
  margin-bottom: 7px;
}

.navbar {
  background-color: #2196f3;
}

.navbar-inner {
  max-width: 1000px;
  height: 60px;
  margin: 0 auto;
  padding: 0 12px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-header-img {
  width: 30px;
  height: 30px;
}

.navbar-brand {
  margin-left: 12px;
	color: #fff !important;
}

.navbar-link {
  color: #fff;
}

.page-container {
  height: calc(100vh - 60px);
  overflow: auto;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.app-grid {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  grid-gap: 40px;

  height: 440px;
  width: 100%;
  padding: 20px;
}

.controls-grid {
  display: grid;
  grid-template: repeat(8, 1fr) / 1fr 20px 150px 60px;
}

.controls-grid-title {
  grid-column-start: 1;
  grid-column-end: 5;
}

.controls-grid-title,
.controls-grid-subtitle,
.controls-grid-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.controls-grid-item {
  justify-content: center;
}

.preview-area {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  margin: 10px auto;
}

#colorPicker {
	color: #bbb;
	margin: 0;
	padding: 0;
	border: 0;
	border-right: 20px solid #1abc9c;
	line-height: 20px;
  width: 100%;
}

#anglePicker {
	border: 0;
	width: 60px;
}

.preview-canvas {
  display: block;
}

.btn.btn-danger.navbar-btn {
  margin-left: 15px;
}

body.dropping {
  min-height: 100vh;
}

body.dropping:after {
  font-size: 30px;
  line-height: 100vh;
  content: 'Drop File Here';
  background: lightgray;
  border: 3px dashed darkgray;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 10000000;
}

.uploadButton {
    float: right;
    margin-right: 20px;
}

ul#icons {
  margin: 0px auto;
  padding-left: 5px;
  max-width: 700px;
  width: 100%;
  list-style: none;
  text-align: left;
  font-size: 1px;
}

ul#icons > * {
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 15px;
  width: 42px;
  list-style: none;
  text-align: center;
  font-weight: normal;
  font-size: 32px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  line-height: 32px;
}

#files {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
}

@media (max-width: 768px) {
  .app-grid {
    grid-template: 1fr 1fr / 1fr;
  }

  .controls-grid {
    width: 400px;
    margin: 0 auto;
  }
}
