html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
.container {
    overflow: hidden;
}
.file-upload-box {
	text-align: center;
	padding: 20px;
	width: 100%;
	height: auto;
	background: #eee;
	border-color: #222;
	border-style: dashed;
	border-width: 1px;
	color: #999;
	cursor: pointer;
}
#files {
	margin: 0 auto;
	display: none;
}
.thumb {
	height: 75px;
	border: 1px solid #000;
	margin: 10px 5px 0 0;
}
#picker {
	color: #bbb;
	margin: 0;
	padding: 0;
	border: 0;
	border-right: 20px solid #1abc9c;
	line-height: 20px;
    width: 100%;
}
#anglePicker {
	border: 0;
	width: 60px;
}
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
	width: 100%;
	padding: 20px;
	text-align: center;
	background: #eee;
}
h3 {
	margin: 20px;
	font-weight: bold;
	color: gray;
}
h4 {
	font-weight: bold;
}
h5 {
	margin-top: 7px;
  margin-bottom: 7px;
}
tr>th:nth-of-type(2) {
	text-align: right;
}
.navbar-brand {
	color: #fff !important;
}
#brand-img {
    margin-top: 8px;
    float: left;
}

button.btn.btn-danger.navbar-btn {
    margin-left: 15px;
}

body.dropping {
  min-height: 100vh;
}
body.dropping:after {
  font-size: 30px;
  line-height: 100vh;
  content: 'Drop File Here';
  background: lightgray;
  border: 3px dashed darkgray;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 10000000;
}
.uploadButton {
    float: right;
    margin-right: 20px;
}
.mainBody {
  padding-top: 85px;
}
@media (max-width: 991px) {
	#controls {
		margin: 0 auto;
	}
	#left-side {
		text-align: center;
		margin-bottom: 20px;
	}
}
@media (max-width: 768px) {
	#brand-img {
		margin-left:20px;
	}
}
@media (max-width: 420px) {
  .hidden-phone {
    display: none;
  }
}